/SFSServer/lib/cachedir
SFSServer/smartfox_log_0.txt.lck
SFSServer/smartfox_log_1.txt
SFSServer/smartfox_log_2.txt
SFSServer/smartfox_log_3.txt
SFSServer/smartfox_log_4.txt
SFSServer/smartfox_log_0.txt
